@font-face {
    font-family: 'fff_tusjbold';
    src: url('../font/fff_tusj-webfont.woff2') format('woff2'),
    url('../font/fff_tusj-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin:0;
    padding:0;
    font-family: Sans-Serif;
    line-height: 1.5em;
}

header {
    background-image: url("../images/homepage-bg.jpg");
    background-position: center;
    background-size: cover;
    height: 55px;
}

header h1 {
    margin: 0;
    padding-top: 15px;
    color: white;
}

main {
    padding-bottom: 10010px;
    margin-bottom: -10010px;
    float: left;
    width: 100%;
    overflow: auto;
}

nav {
    padding-bottom: 10010px;
    margin-bottom: -10010px;
    overflow: auto;
    float: left;
    min-height: 100%;
    width: 230px;
    margin-left: -230px;
    background-size: cover;
    background: url("../images/homepage-bg.jpg") repeat-y center;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
    background-image: url("../images/homepage-bg.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;

}

p {
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
}

nav ul a {
    color: white;
    text-decoration: none;
}

#wrapper {
    padding-bottom: 10010px;
    margin-bottom: -10010px;
    overflow: hidden;
    position: relative;
    min-height: 100%;
}

#content {
    margin-right: 230px; /* Same as 'nav' width */
}

#homepage {
    font-family: 'fff_tusjbold';
    float: left;
    text-align: left;
}

#button_about {
    font-weight:bold;
    padding-top: 10px;
    padding-right: 15px;
    color: white;
    background-color: transparent;
    border: transparent;
}

#button_course {
    font-weight:bold;
    padding-top: 10px;
    padding-right: 15px;
    color: white;
    background-color: transparent;
    border: transparent;
}

#button_profile {
    font-weight:bold;
    padding-top: 10px;
    padding-right: 15px;
    color: white;
    background-color: transparent;
    border: transparent;

}

#button_logout {
    font-weight:bold;
    padding-top: 10px;
    float:right;
    color: white;
    background-color: transparent;
    border: transparent;
}

#footerText {
    color: #ffffff;
    text-align: center;
    padding-top: 15px;
}

#bigLinkNav{
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-weight: bold;
}

#thisBigLinkNav {
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    color: #46AFFA;
}

#smallLinkNav{
    text-decoration: none;
    color: white;

}

#thisSmallLinkNav {
    text-decoration: none;
    color: #46AFFA;
}

#bigLinkHeader{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#thisBigLinkHeader {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #46AFFA;
}

.innertube {
    margin: 15px; /* Padding for content */
    margin-top: 0;
}

.innertubeHeader {
    /* Padding for content */
    margin: 0 15px 15px;
    text-align: right;
}

.usefulLink{
    margin-top: 0px;
    text-align: right;
}

.innertubeFooter {
    text-align: center;
}

.innertubeNav {
    margin: 0 0 3px 0;
}

