/* GENERAL STYLE */
@font-face {
    font-family: 'fff_tusjbold';
    src: url('../font/fff_tusj-webfont.woff2') format('woff2'),
    url('../font/fff_tusj-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
    height: 100%;
    min-height: 100%;
    margin:0;
    padding:0;
    font-family: Sans-Serif;
    line-height: 1.5em;
}

/* STYLE FOR THE GENERAL STRUCTURE OF THE PAGES */
header {
    background-image: url("../images/homepage-bg.jpg");
    background-position: center;
    background-size: cover;
    height: 55px;
}

header h1 {
    margin: 0;
    padding-top: 15px;
    color: white;
}

main {
    padding-bottom: 10010px;
    margin-bottom: -10010px;
    float: left;
    width: 100%;
    overflow: auto;
}

nav {
    padding-bottom: 10010px;
    margin-bottom: -10010px;
    overflow: auto;
    float: left;
    min-height: 100%;
    width: 260px;
    margin-left: -260px;
    background-size: cover;
    background: url("../images/homepage-bg.jpg") repeat-y center;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
    background: url("../images/homepage-bg.jpg") center;
    background-size: cover;
    text-align: center;

}

p {
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
}

nav ul a {
    color: white;
    text-decoration: none;
}

#wrapper {
    padding-bottom: 10010px;
    margin-bottom: -10010px;
    overflow: hidden;
    position: relative;
    min-height: 100%;
}

#content {
    margin-right: 250px; /* Same as 'nav' width */
    margin-bottom: 50px; /* Same as footer */
}

#homepage {
    font-family: 'fff_tusjbold';
    float: left;
    text-align: left;
}

#footerText {
    color: #ffffff;
    text-align: center;
    padding-top: 15px;
}

.bigLinkNav{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.thisBigLinkNav {
    text-decoration: none;
    text-align: center;
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #46AFFA;
}

.smallLinkNav{
    margin-left: -15px;
    text-decoration: none;
    color: white;

}

.thisSmallLinkNav {
    text-decoration: none;
    color: #46AFFA;
}

.bigLinkHeader{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-top: 50px;
    padding-right: 15px;
}

.thisBigLinkHeader {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #46AFFA;
    margin-top: 50px;
    padding-right: 15px;
}



.innertube {
    margin: 15px; /* Padding for content */
    margin-top: 0;
}

.innertubeHeader {
    /* Padding for content */
    margin: 0 15px 15px;
    text-align: right;
}

.usefulLink{
    padding-top: 15px;
    text-align: right;
}

.innertubeFooter {
    text-align: center;
}

.innertubeNav {
    margin: 0 0 0 0;
}

.hidden {
    position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden;
}

/* GENERAL STILE FOR THE PAGE OF THE COURSES */

.containerAll{
    display: table;
}

.containerCoursesTop{
    display: inline;

}

.containerCoursesDown{
    display: inline;
}

.containerSingleCourse{
    display: inline-block;
}

.containerSingleCourseRight {
    margin-left: 40px;
}

.containerSingleCourseDown{
    margin-top: 25px;
}

.buttonCourses{
    display: block;
    font-family: Arial;
    color: #ffffff;
    padding: 10px 20px 10px 60px;
    text-decoration: none;
    height: 300px;
    width: 400px;
}

.buttonUpcoming{
    background-image: url("../images/comingSoon.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

/* GENERAL STILE FOR THE PAGE OF THE LECTURES */

.lectureTextdiv{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.videodiv{
    margin-left: 50px;
    margin-right: 50px;
}


.questionsLinkPage{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: right;
}

.questionsLinkPage a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: black;
    border:4px solid black;
    padding: 4px 4px 4px 4px;
}


/* STYLE FOR THE PAGE courses.jsp */

.buttonHistory{
    background-image: url("../images/historyCourse.jpg");
    background-position: center;
    background-size: cover;
}

.buttonHistory:hover {
    background-image: url("../images/historyCourseGoTo.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    -webkit-transition: opacity 1s linear;
    text-decoration: none;
}

.buttonMath{
    background-image: url("../images/mathCourse.jpg");
    background-position: center;
    background-size: cover;
}

.buttonMath:hover {
    background-image: url("../images/mathCourseGoTo.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    -webkit-transition: opacity 1s linear;
    text-decoration: none;
}

/* STYLE FOR THE PAGE historyCourse.jsp */

.buttonFrenchRevolution{
    background-image: url("../images/frenchRevolutionText.jpg");
    background-position: center;
    background-size: cover;
}

.buttonFrenchRevolution:hover {
    background-image: url("../images/frenchRevolutionTextGoTo.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    -webkit-transition: opacity 1s linear;
    text-decoration: none;
}

.buttonFirstWW{
    background-image: url("../images/firstWWText.jpg");
    background-position: center;
    background-size: cover;
}

.buttonFirstWW:hover {
    background-image: url("../images/firstWWTextGoTo.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    -webkit-transition: opacity 1s linear;
    text-decoration: none;
}

.buttonSecondWW{
    background-image: url("../images/secondWWText.jpg");
    background-position: center;
    background-size: cover;
}

.buttonSecondWW:hover {
    background-image: url("../images/secondWWTextGoTo.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    -webkit-transition: opacity 1s linear;
    text-decoration: none;
}

/* STYLE FOR THE PAGE mathCourse.jsp */

.buttonEquations{
    background-image: url("../images/equations.jpg");
    background-position: center;
    background-size: cover;
}

.buttonEquations:hover {
    opacity: 0.7;
    -webkit-transition: opacity 1s linear;
    text-decoration: none;
}

.buttonInequalities{
    background-image: url("../images/inequalities.jpg");
    background-position: center;
    background-size: cover;
}

.buttonInequalities:hover {
    opacity: 0.7;
    -webkit-transition: opacity 1s linear;
    text-decoration: none;
}

.buttonQuadraticEquations{
    background-image: url("../images/quadraticEquations.jpg");
    background-position: center;
    background-size: cover;
}

.buttonQuadraticEquations:hover {
    opacity: 0.7;
    -webkit-transition: opacity 1s linear;
    text-decoration: none;
}

/* STYLE FOR THE PAGE historyCourse.jsp */

