body,h1 {
    font-family: "Raleway", sans-serif;
    color:white;
}

body, html {height: 100%}
.bgimg {
    min-height: 100%;
    background-image: url("../images/homepage-bg.jpg");
    background-position: center;
    background-size: cover;
}

.h1{
    font-size: 100px;
}

#button_login {
    position:absolute;
    top: 80%;
    left: 20%;
    background-color: transparent;
    border: #eeeeee;
}

#button_register {
    position:absolute;
    top: 80%;
    left: 75%;
    background-color: transparent;
    border: #eeeeee;

}

.usefullLink{
    text-align:center;
}

#linkAbout
{
    font-weight:bold;
    float:left;
    color: white;
}
#linkSignIn
{
    font-weight:bold;
    vertical-align:middle;
    color: white;

}
#linkSignUp
{
    font-weight:bold;
    float:right;
    color: white;
}
