body,h1 {font-family: "Raleway", sans-serif;  font-size: 3em}
body, html {height: 100%}
.bgimg {
    min-height: 100%;
    background-image: url("../images/homepage-bg.jpg");
    background-position: center;
    background-size: cover;
}

#button_login {
    position:absolute;
    top: 100%;
    left: 20%;
    background-color: transparent;
    border: #eeeeee;
}

#button_register {
    position:absolute;
    top: 100%;
    left: 75%;
    background-color: transparent;
    border: #eeeeee;

}

.inline {
    display:inline;
    margin-right:5px;
}